@mixin reset() {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@mixin align($items, $justify, $direction, $gap) {
    display: flex;
    align-items: $items;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
}

@mixin content() {
    width: 100%;
    height: 100vh;
    position: relative;
}