$bg-color: #ECF2FF;
$bg-title: #404258;
$bg-text: #a8b2ba;
$bg-status: #47A992;
$bg-darktheme: #1B2430;
$bg-shadow: rgba(0, 0, 0, 0.25) 0 5px 20px;
$bg-link-shadow: rgba(0, 0, 0, 0.115) 0 5px 20px;
$modal-color: rgba(0, 0, 0, 0.6);
